{% overextends "index.html" %}
{% load i18n %}

{% block title %}{{ SITE_NAME }}: Expanding Hawaii's public access one request at a time{% endblock %}

{% block site_description %}
<p>
   Introduction goes here.
</p>
<p>
   Introduction goes here.
</p>
{% endblock %}

{% block index-search %}
  <form method="get" action="{% url 'foirequest-search' %}">
    <label for="index-search">
      {% blocktrans %}Search {{ foicount }} requests and {{ pbcount }} public agencies:{% endblocktrans %}
    </label>

    <div class="input-group">
      <input id="index-search"class="form-control col-lg-3" type="text" name="q" autocomplete="off" placeholder="{% block index-search-placeholder %}{% endblock %}"/>
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">
          <span class="glyphicon glyphicon-search"></span>
          {% blocktrans %}Search For Information{% endblocktrans %}
        </button>
      </span>
    </div>
    {% block example_search_terms_block %}
    <span class="help-block">
      {% block example_search_terms %}
          {% blocktrans %}Try the following:{% endblocktrans %}
          <a href="{% url 'foirequest-search' %}?q={% trans "Education" %}">{% trans "Education" %}</a>
          {% trans "or" %}
          <a href="{% url 'foirequest-search' %}?q={% trans "Budget" %}">{% trans "Budget" %}</a>
          {% trans "or" %}
          <a href="{% url 'foirequest-search' %}?q={% trans "Criminal" %}">{% trans "Criminal" %}</a>
      {% endblock %}
    </span>
    {% endblock %}
  </form>
{% endblock index-search %}

{% block index_sub_left %}
    <h3>{% blocktrans %}<em>What is the Act Respecting Access to Documents Held by Public Bodies and the Protection of Personal Information?</em>{% endblocktrans %}</h3>
    <p>{% blocktrans %}Definition goes here.{% endblocktrans %}</p>
{% endblock %}

{% block index_sub_right %}
    <h3>{% blocktrans %}<em>About Montreal FOI?</em>{% endblocktrans %}</h3>
    <p>{% blocktrans %}Definition goes here.{% endblocktrans %}
        <br/><br/>
        <a href="{% url 'help-faq' %}">{% blocktrans %}Frequently Asked Questions{% endblocktrans %}</a>
    </p>
{% endblock %}
